#AboutMe{
    min-height: 100vh;
  }

.skills{
    background-color: black;
    color: white;
    border:solid white 2px;
    text-align: center;
    margin:5px;
    padding-block:5px;
    padding-inline: 15px;
    height:25px;
  }
  #about-section{
    display:flex;
  }


  #about-title{
    margin-block: 30px;
    text-align: center;
  }

  #skillbox{
    display: flex;
    position:absolute;
    flex-flow: row wrap;
    height:50px;
    margin-left:25%;
  }

  #pic{
    margin:0;
    width:25%;
    height: 100%;
  }

  #about-desc{
    margin-top: 100px;
    margin-left: 0;
    margin-right:10%;
  }

  #reachingOut{
    color:blue;
    padding:0;
  }

  .skill-logo{
    width:20px;
    margin:0;
    padding:0;
    margin-right: 5px;
    vertical-align: middle;
  }

  #postgre{
    width:110px;
  }


  /* Media query for screen widths less than or equal to 768px */
@media (max-width: 768px) {
    #about-desc {
        margin-top: 150px; /* Adjust this value as needed */
    }
}

/* Media query for screen widths less than or equal to 480px */
@media (max-width: 480px) {
    #about-desc {
        margin-top: 200px; /* Adjust this value as needed */
    }
}