.header{
    display:flex;
    justify-content: flex-end;
    position:fixed;
    top:0;
    right:0;
    color: white;
    background-color: #282c34;
    width:100%;
    padding-block: 10px;
    padding-inline: 10px;
  }
  
  a{
    padding-inline:10px;
    color:white;
  }