#Contact{
    min-height: 100vh;
  }
  
  form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    margin-inline:25%;
  }
  
  input{
    padding:10px;
    margin:15px;
    width:400px;
    border: black 4px solid;
    border-top: none;
    border-right: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      font-size: 13px;
  }
  
  textarea{
    padding:10px;
    margin:15px;
    width:400px;
    height:100px;
    border: black 4px solid;
    border-top: none;
    border-right: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      font-size: 13px;
  }
  
  #submit{
    width:100px;
    border:none;
    font-size: 20px;
  }
  
  #submit:hover{
    background-color: darkgray;
    cursor: pointer;
  }
  
  #contact-title{
    margin-top: 30px;
    text-align: center;
    margin-bottom:0;
  }
  
  #contact-desc{
    text-align: center;
    padding-bottom: 30px;
    padding-inline: 30px;
  }