#Projects{
    color:white;
    min-height: 100vh;
    background-color: #282c34;
  }

  #projects-title{
    padding-top: 30px;
    text-align: center;
    margin-bottom:0;
  }
  
  #projects-desc{
    text-align: center;
    padding-bottom: 30px;
    padding-inline: 30px;
  }